@model UTS_DataHadir.Models.Kehadiran

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Kehadiran</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TanggalHadir)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TanggalHadir)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdEmpNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdEmpNavigation.IdEmp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdStatusNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdStatusNavigation.IdStatus)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdKehadiran">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
