@model UTS_DataHadir.Models.Gajian

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Gajian</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NominalGaji)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NominalGaji)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdEmpNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdEmpNavigation.IdEmp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdKehadiranNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdKehadiranNavigation.IdKehadiran)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdKetBayarNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdKetBayarNavigation.IdKetBayar)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdGaji">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
